<%= turbo_frame_tag "buttons_order" do %>
  <div class="btn-group dropstart">
    <button type="button" class="btn btn-glass dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Ordenar por
    </button>
    <ul class="dropdown-menu shadow">
      <li>
        <%= link_to order_list_tasks_path(field:"created_at", order:"asc"), class:"dropdown-item" do %>
          Los mas antiguos
        <% end %>
      </li>
      <li>
        <%= link_to order_list_tasks_path(field:"created_at", order:"desc"), class:"dropdown-item" do %>
          Los mas recientes
        <% end %>
      </li>
      <li>
        <%= link_to order_list_tasks_path(field:"priority", order:"asc"), class:"dropdown-item" do %>
          Menor Prioridad
        <% end %>
      </li>
      <li>
        <%= link_to order_list_tasks_path(field:"priority", order:"desc"), class:"dropdown-item" do %>
          Mayor Prioridad
        <% end %>
      </li>
      <li>
        <%= link_to order_list_tasks_path(field:"state", order:"asc"), class:"dropdown-item" do %>
          Estado
        <% end %>
      </li>
    </ul>
  </div>
<%end%>
