<%= turbo_frame_tag "task_#{task.id}" do %>
  <div class="card" data-controller="sweet-alert" data-id=<%= task.id %>>
    <h5 class="card-header d-flex justify-content-between align-items-center">
      <%= Task::STATES[task.state.to_sym] %>
      <small class="badge rounded-pill text-bg-<%= task.priority %>"><%= Task::PRIORITIES[task.priority.to_sym] %></small>
    </h5>
    <div class="card-body">
    
      <h5 class="card-title"><%= task.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted">Fecha límite: <%= task.deadline %></h6>
      <p class="card-text text-truncate"><%= task.description.present? ? task.description.truncate(200) : "Sin descripción" %></p>
      
      <div class='mt-2 d-flex justify-content-end'>
        <%= link_to task_path(task), class:"mx-2 btn btn-warning", data: { action: "click->modal-task#showModal", turbo_frame: 'show_content_modal' }, type: "button" do %>
          <i class="fas fa-eye"></i>
        <% end %>
  
        <%= link_to edit_task_path(task, view: "list"), class:"mx-2 btn btn-primary", data: { action: "click->modal-task#showModal", turbo_frame: 'show_content_modal' }, type: "button" do %>
          <i class="far fa-edit"></i>
        <% end %>
        
        <button class="me-2 shadow-hover btn btn-danger" data-sweet-alert-target="button" >
          <i class="fas fa-eraser"></i>
        </button>
        
        <%= link_to task_path(task, view: "dashboard"), data: {"turbo-method": :delete}, class:"hidden", id:"delete-task-#{task.id}" do %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
