<%= turbo_frame_tag "show_content_modal" do %>  
  <div class="modal-header">
    <h2 class="modal-title" id="taskModalLabel">Editar tarea</h2>
  </div>
  <%= bootstrap_form_for(@task) do |f| %>
    <div class="modal-body">
      <%= f.hidden_field :view, value: @view %>
      <%= f.text_field :title, label: "Título", floating: true %>
      <%= f.rich_text_area :content %>
      <%= f.file_field :files, multiple: true, label: "Puedes subir archivos" %>
      <div class="card p-2 mb-3">
        <label for="task_priority"> Prioridad </label>
        <%= f.collection_radio_buttons :priority, Task::PRIORITIES, :first, :second, hide_label: true, inline: true, wrapper: { class: 'mb-0' } %>
      </div>
      <div class="card p-2 mb-3">
        <label for="task_priority"> Estado </label>
        <%= f.collection_radio_buttons :state, Task::STATES, :first, :second, hide_label: true, inline: true, wrapper: { class: 'mb-0' }  %>
      </div>
      <%= f.date_field :deadline, floating: true, label: "Fecha límite" %>
    </div>
    <div class="modal-footer d-flex justify-content-end">
      <%= f.submit "Editar", class: "btn btn-primary" %>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
    </div>
  <% end %>
<% end %>
