<%= render partial:'tasks/modals/show_task_modal' %>
<div class="container container-xxl">
  <div class="d-flex justify-content-between align-items-center mt-2">
    <h1>Tareas</h1>

    <%= turbo_frame_tag "create_task_form" do %>
      <%= link_to 'Create new task', new_task_path, class: 'btn btn-success', data: { turbo_frame: 'create_task_form' } %>
    <% end %>
  </div>
  
  <hr/>
  
  <div class="d-flex justify-content-end">
    <%= render partial: "order_buttons"%>
  </div>


  <%= render partial: "task_list", locals: { tasks: @tasks} %>

</div>
