<%= render partial:'tasks/modals/show_task_modal' %>
<div class="container container-xxl" data-controller="modal-task">
  <div class="d-flex justify-content-between align-items-center mt-2">
    <h1>Tareas</h1>
  </div>
  
  <div class="d-flex justify-content-sm-between flex-wrap gap-3 justify-content-center">
    <%= render 'view_buttons' %>
    <% if params[:view] == 'cards' %>
      <%= render partial: "order_buttons"%>
    <% end %>
  </div>

  <% if params[:view].nil? || params[:view] == 'cards' %>
    <%= render partial: "task_card_view", locals: { tasks: @tasks} %>  
  <% elsif params[:view] == 'dashboard' %>
    <%= render partial: "task_dashboard_view", locals: { tasks: @tasks} %>  
  <% elsif params[:view] == 'list' %>
    <%= render partial: "task_list_view", locals: { tasks: @tasks} %>  
  <% end %>

</div>
