<%= turbo_frame_tag 'show_content_modal' do %>
  <div class="modal-header">
    <h2 class="modal-title" id="taskModalLabel"><%= @task.title %></h2>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-12 col-lg-4">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <i class="fa-regular fa-clock text-primary align-self-center"></i>
            <div class="ms-4 me-auto">
              <div class="fw-bold">Fecha límite</div>
              <%= @task.deadline.present? ? @task.deadline.strftime('%m/%d/%Y') : "Sin fecha límite"  %>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <i class="fa-regular fa-flag text-primary align-self-center"></i>
            <div class="ms-4 me-auto">
              <div class="fw-bold">Prioridad</div>
              <%= Task::PRIORITIES[@task.priority.to_sym] %>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <i class="fa-solid fa-bars-progress text-primary align-self-center"></i>
            <div class="ms-4 me-auto">
              <div class="fw-bold">Estado</div>
              <%= Task::STATES[@task.state.to_sym] %>
            </div>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-start">
            <i class="fa-solid fa-user-tie text-primary align-self-center"></i>
            <div class="ms-4 me-auto">
              <div class="fw-bold">Creado por</div>
              <%= @task.user.fullname %>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-lg-8">
        <h3>Descripción</h3>
        <blockquote class="blockquote mb-0">
          <p><%= raw(@task.content) %> </p>
          <footer class="blockquote-footer"><cite title="Source Title">Ultima actualización: <%= @task.updated_at.strftime('%m/%d/%Y') %></cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
<% end %>
