<!DOCTYPE html>
<html>
  <head>
    <title>TaskApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'application.bootstrap', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "@fortawesome/fontawesome-free" %>
    <%= javascript_import_module_tag "popper" %>
    <%= javascript_import_module_tag "bootstrap" %>
    <%= javascript_import_module_tag "@rails/actiontext" %>
  </head>

  <body>
    <%= render 'layouts/shared/navbar' %>
    <%= yield %>
    <div id="flash">
      <%= render "layouts/shared/flash_messages" %>
    </div>
    <%= render "layouts/shared/update_state_message" %>
  </body>
</html>
